* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
}
.main {
    width: 100%;
    height: 100%;
    position: relative;
}
.nav {
    height: 100px;
    width: 100%;
    display: flex;
    border-bottom: 2px solid #dadada;
    align-items: center;
    justify-content: space-between;
    padding: 0 4vw;
}

.nav-2 {
    display: flex;
    align-items: center;
    gap: 3vw;
}

.nav i {
    font-size: 2vw;
    cursor: pointer;
    display: none;
}

.content {
    height: calc(100% - 100px);
    width: 100%;
    display: flex;
    position: relative;
}

.left {
    height: 100%;
    width: 55%;
    padding: 7vw 4vw;
}

.left h1 {
    font-size: 4vw;
    line-height: 4.4vw;
}

.left h1 span {
    color: lightseagreen;
}

.left p {
    font-size: 1.80vw;
    font-weight: 500;
    color: #666;
    width: 80%;
    margin-top: 3vw;
    margin-bottom: 3vw;
}

.right {
    height: 100%;
    width: 45%;
}

.nav h2 {
    font-size: 40px;
    cursor: pointer;
}

.nav h4 {
    font-size: 1.2vw;
    cursor: pointer;
}

.content button {
     font-size: 2vw;
    padding: 1.1vw 2.1vw;
    background-color: lightseagreen;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    font-weight: 700;
}

button {
    font-size: 2vw;
    padding: 1.1vw 2.1vw;
    background-color: rgba(6, 95, 83, 0.89);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    font-weight: 700;
}

.right img {
    height: 90%;
    width: 100%;
}

@media (max-width:400px) {
    .nav {
        padding: 0 5vw;
        height: 60px;
    }
    .nav h2 {
        font-size: 6vw;
    }
    .nav h4 {
        font-size: 4vw;
        display: none;
    }
    .nav i {
        display: block;
        font-size: 6vw;
    }

    .nav button {
        display: none;
    }

    .content {
        height: calc(100% - 60px);
        flex-direction: column;
    }

    .left {
        width: 100%;
        height: 50%;
    }

    .right {
        width: 100%;
        height: 50%;
    }

    .left h1 {
        font-size: 10vw;
        line-height: 11vw;
    }

    .left p {
        font-size: 4vw;
        line-height: 8vw;
    }

    .content button {
        font-size: 3vw;
        padding: 3vw 4vw;
    }

}